
  <div class="modal-header">
    <h4 class="modal-title">Cadastro</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>  
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="">Username</label>
      <input name="blank_username_field" placeholder="Username" autocomplete="new-password"  type="text" class="form-control rounded-0" required  [(ngModel)]="user.username" />
    </div>
  
    <div class="form-group">
      <label for="">Senha</label>
      <input
        placeholder="Password"
        type="password"
        name="blank_password_field"
        class="form-control rounded-0"
        autocomplete="new-password" 
        [(ngModel)]="user.password"
        required
      />
    </div>
  
    <div class="btn-group me-3" *ngIf="isAdmin">
      <input type="checkbox" [(ngModel)]="user.admin">&nbsp;Administrador
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveUser()">
      Salvar
    </button>
  </div>
 


